# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.venv
# Secrets
.env

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outputs
bc/outputs/artifacts/*.json

# Debug/Test scripts
bc/tools/test_*.py
